<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ikki de Fenix</title>
</head>
<body>
    <h1>Ikki de Fenix</h1>
    <img src="/img/ikki.png" width=250 alt="Imagen de ikki">
    <nav
      ><ul>
          <li><a href="/">home</a></li>
          <li><a href="/seiya">seiya</a></li>
          <li><a href="/ikki">ikki</a></li>
          <li><a href="/hyoga">hyoga</a></li>
          <li><a href="/shiryu">Shiryu</a></li>
          <li><a href="/shun">Shun</a></li>
          <li><a href="/saori">Saori</a></li>

      </ul>
   </nav>
</body>
</html>